@{
    ViewData["Title"] = "Home Page";
}

@using WebWallet.Data.DTO.Accounts;
@using WebWallet.Models.ViewModels
@model HomeViewModel

<div class="text-center">
    <div class="card">
        <div class="card-header d-inline-flex justify-content-between">
            <div class="display-6">
                Contas
            </div>
            <div class="">
                <a class="btn btn-outline-info">
                    Add
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex d-flex flex-wrap">
                @foreach (ReadAccountDTO account in Model.Accounts)
                {
                    <div class="card col-6">
                        <div class="card-body d-inline-flex justify-content-between">
                            <div class="text-dark">
                                @account.Name
                            </div>
                            <div class="text-dark">
                                R$ @(account.Amount)
                            </div>
                            <div>
                                @account.AccountNumber
                            </div class="text-dark">
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
